---
---

@import "../bower_components/bootstrap-sass-twbs/assets/stylesheets/bootstrap";

$icon-size: 32px;

footer {
    border-top: 1px solid #000;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;

    .container {
        height: 100%;
    }

    .social {
        margin: 0;
        position: absolute;
        top: 50%;
        right: $icon-size;
        margin-top: -$icon-size/2;

        li {
            display: inline-block;

            a {
                display: block;
                width: $icon-size;
                height: $icon-size;

                > span {
                    display: none;
                }
            }
        }
    }
}